NEXT_PUBLIC_SUPABASE_URL=https://nheueyzwdvxzgameitxy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZXVleXp3ZHZ4emdhbWVpdHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMDQ5NDQsImV4cCI6MjA4NzY4MDk0NH0.7YSMtuLabxH105chZBQMOBA7a7IVL1fonI56YuTZ0xM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZXVleXp3ZHZ4emdhbWVpdHh5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjEwNDk0NCwiZXhwIjoyMDg3NjgwOTQ0fQ.789UK-juilFhE9CharO7jSVZBf2E2znypA9VDh9Z98s
ADMIN_SESSION_SECRET=71e72f07-2523-4d8f-98e3-2b56e9a91f5c93a9a477-bb03-4f80-a20a-30bcbe3c368a
NEXT_PUBLIC_ADMIN_BASE_URL=http://localhost:4030